// dark theme base
$theme-color: rgb(255, 153, 0);
$theme-background: rgb(43, 43, 43);
$theme-text: rgb(184, 184, 184);

body {
    background-color: $theme-background;
    color: $theme-text;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $theme-text;
    border-bottom: 2px dotted $theme-color;
}

a:hover {
    color: $theme-background;
    background-color: $theme-text;
}
