// dark theme base
$theme-color: rgb(255, 153, 0);
$theme-background: rgb(43, 43, 43);
$theme-text: rgb(230, 230, 230);
$theme-background-sub: rgb(88, 88, 88);

body {
    background-color: $theme-background;
    color: rgba($theme-text, $alpha: 0.9);
}

h1,
h2,
h3,
h4 {
    color: $theme-text;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $theme-text;
    border-bottom: 2px dotted $theme-color;
}

a:hover {
    color: $theme-background;
    background-color: $theme-text;
}
