@font-face {
    font-family: "HackGen";
    src: url("fonts/HackGen-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "HackGen";
    src: url("fonts/HackGen-Bold.ttf") format("truetype");
    font-weight: 700;
}

body {
    font-family: "HackGen", "Noto Sans JP", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-family: "HackGen", "Noto Sans JP", sans-serif;
    font-weight: 700;
}
