@import "../theme";

header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 1.5rem;
}

.logo::before {
    content: ">";
}

.cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 1em;
    background-color: $theme-color;
    animation: blink 1s infinite ease;
    transition: background-color 0.2s;
}

@keyframes blink {
    0%,
    50% {
        background-color: $theme-color;
    }
    50.01%,
    100% {
        background-color: transparent;
    }
}
