<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path="main.css",
    trailing_slash=false) | safe }}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />

    {%- if config.generate_feed %}
      <link rel="alternate" type="application/rss+xml"
    title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
    {% endif -%}

    <title>MyBlog</title>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="logo">
          <a href="{{ config.base_url }}/blog">shimopino's blog</a>
          <span class="cursor"></span>
        </div>
        <nav>
          <a href="/blog" target="_blank" rel="noreferrer noopener">Posts</a>
          <a href="/tags" target="_blank" rel="noreferrer noopener">Tags</a>
          <a href="https://github.com/shimopino" target="_blank" rel="noreferrer noopener">Github</a>
          <a href="{{ get_url(path="rss.xml") | safe }}" target="_blank" rel="noreferrer noopener">Feed</a>
        </nav>
      </header>

      <main>
        {% block content %} {% endblock content %}
      </main>

      <footer>
        <span>© 2023 shimopino. All rights reserved.</span>
        ::
        <span>Made by <a href="https://www.getzola.org/">Zola</a></span>
      </footer>
    </div>
  </body>
</html>
